/* Default Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Layout control me rakhta hai */
}

/* Full height for page */
html, body {
  width: 100%;
  height: 100%;
}

/* -------------------- Header start -------------------- */

header{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.hd1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
}

#himg1{
    width: 180px;
}

#hbtn1{
    width: 60px;
    height: 20px;
    background-color: rgb(235, 233, 233);
    border-radius: 25px;
    border: none;
    cursor: grab;
   
}

.hd2{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}

#hbtn2{
    width: 70px;
    height: 30px;
    background-color: rgb(235, 233, 233);
    border-radius: 25px;
    border: none;
    cursor: grab;
}
#himg2{
    width: 20px;
}

a{
    color: black;
    text-decoration: none;
}

#himg3{
    width: 50px;
}
#himg4{
    width: 30px;
}


/* -------------------- Header End -------------------- */



/* -------------------- Main Start -------------------- */


/* ------------------- Main Div 1 ------------------  */
.main-div1{
    border: 1px solid rgb(235, 233, 233);
    padding-top: 80px;
    padding-left: 60px;
    color: rgb(190, 189, 189);
}

/* ------------------- Main Div 2 ------------------  */

.main-div2{
    border: 1px solid rgb(235, 233, 233);
    padding-left: 60px;
}

h1{
    font-size: 80px;
    font-family: sans-serif;
}

/* ------------------- Main Div 3 ------------------  */

.main-div3{
    border: 1px solid rgb(235, 233, 233);
    padding-top: 20px;
    padding-left: 60px;
    color: rgb(190, 189, 189);
}

/* ------------------- Main Div 4 ------------------  */

.main-div4{
    border: 1px solid rgb(235, 233, 233);
    padding: 10px 60px;
}

.main-p1{
    font-size: 25px;
}

.main-p1 span{
    color: #00a6f4;
}

/* ------------------- Main Div 5 ------------------  */

.main-div5{
    border: 1px solid rgb(235, 233, 233);
    padding-top: 40px;
}

/* ------------------- Main Div 6 ------------------  */

.main-div6{
    border: 1px solid rgb(235, 233, 233);
    padding-left: 60px;
    color: rgb(190, 189, 189);
} 

#main-btn1{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: #ffffff;
    font-weight: bold;
    cursor: grab;
}

#main-btn2{
    width: 250px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgb(189, 187, 187);
    border-radius: 30px;
    cursor: grab;
}

#btn2-img{
    width: 30px;
}

#btn2-input{
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
}

/* ------------------- Main Div 7 ------------------  */

.main-div7{
    border: 1px solid rgb(235, 233, 233);
    padding-top: 80px;
}


/* ------------------- Main Div 8 ------------------  */

.main-div8{
    border: 1px solid rgb(235, 233, 233);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    
}

#div8-1{
    border: 2px solid rgb(235, 233, 233);
    width: 58%;
    background-color: rgb(173, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
}

#div8-img1{
    width: 95%;
    border-radius: 10px;
}

#div8-2{
    border: 2px solid rgb(235, 233, 233); 
    width: 35%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div8-img2{
    border: 2px solid rgb(202, 202, 202);
    border-radius: 30px;
    box-shadow: 5px 3px 3px 2px  gray;
}

/* -------------------- Main End -------------------- */